<%- include ('../partials/header') %>

    <div class="starter-template">
        <h1>Tabuada do número <%= num %> </h1>
        
            <% for(let i=1; i<=10; i++) { %>
            <div class="panel">
                <div class="panel-body">
                    <h2><%= num %>  &nbsp; x &nbsp; <%= i %> &nbsp; = &nbsp; <%= (num*i) %> </h2>
                </div>
                <div class="panel-footer">
                    <% for(let k=1; k<=num; k++) { %>
                        <div class="card-tab">
                        <% for(let j=1; j<=i; j++) { %>
                            <img src="/img/maca.png" class="img-responsive w-max-15" alt="..."/>
                        <%} %>
                        </div>
                    <%} %>
                </div>
            </div>    
            <%} %>
    </div>

<%- include ('../partials/footer') %>